<!doctype html>
<head>
  <title>
    얼굴인식
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pet Feeder</title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="script/jquery-1.2.1.js"></script>
  <script>
    $(function() {

      timer = setInterval( function () {
    
          $.ajax ({
    
              "url" : "azure_result",
              cache : false,
              success : function (data) {
                $("#clicks").text(data);
              }
    
          });
    
          }, 1000);
    
    });
  </script>
</head>
<body>
  <img src="{{ url_for('video_feed') }}">
  <div style="border:1px solid #dedede; width:600px; height:250px; line-height:250px; color:#666;font-size:100px; text-align:center;" id="clicks"></div>
</body>